.sideMenu {
    background: #181818b3 !important;
    color: white !important;
    backdrop-filter: blur(8px);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);

    .offcanvasHeader {
        padding: 0;
    }
}

