@import '../../styles/variables.scss';

.active {
	position: relative;
	z-index: 100;
	color: white;

	&>input {
		background: none;

		&:focus {
			&::placeholder {
				color: white;
			}
			outline-width: 0;
		}
	}
}