.offcanvasBody {
    .menuItem {
        margin: 20px 0;
        font-size: 15px;
        font-weight: 300;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer {

        * {
            font-size: 11px;
            font-weight: 300;
        }

        li {
            padding-bottom: 10px;

            &.itemTitle {
                font-weight: 500;
            }

            &.link {

                &:hover {
                    text-decoration: underline;
                }

                &.pointer {
                    cursor: pointer;
                }
            }
        }
    }
}