.offcanvasBody {
    .menuItem {
        margin: 20px 0;
        font-size: 1.2rem;
        font-weight: 300;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer {

        font-size: .9rem;

        li {
            padding-bottom: 10px;

            &.link {

                &:hover {
                    text-decoration: underline;
                }

                &.pointer {
                    cursor: pointer;
                }
            }
        }
    }
}