@import "../../styles/variables.scss";

.filters {
    transition: top .2s;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1050;
    background-color: #fff;

    button:hover {
        text-decoration: underline;
    }
}

.offcanvasFilters {
    top: 130px !important;

    @media (max-width: $mobile-width) {
        top: 170px !important;
        width: 100% !important;
    }

    z-index: 1030;
    width: 250px;
    transition: transform 0.3s ease-in-out;

    .collapseItem {
        visibility: visible;
    }

    .accordionBody {
        padding: 0;

        .listGroup {
            button {
                border: none;
            }
        }
    }
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}