.filters {
    transition: top .2s;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1050;
    background-color: #fff;
}


.offcanvasRight {
    top: 130px !important;
    z-index: 1030;
    width: 250px;
    transition: transform 0.3s ease-in-out;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}