.offcanvasFilters {

    * {
        font-size: 12px;
    }

    .accordionFilters {

        h2 {
            button {
                font-size: 12px;
                color: black;
                background-color: transparent;
                box-shadow: none;
            }
        }
    }

    .collapseItem {
        visibility: visible;

        .accordionBody {
            padding: 0;

            .listGroup {
                button {
                    border: none;
                }
            }
        }
    }
}