
.offcanvasFilters {

    .soldOutCheckbox {
        float: right !important;
    }

    .collapseItem {
        visibility: visible;

        .accordionBody {
            padding: 0;

            .listGroup {
                button {
                    border: none;
                }
            }
        }
    }
}