
.offcanvasFilters {
    
    .collapseItem {
        visibility: visible;

        .accordionBody {
            padding: 0;

            .listGroup {
                button {
                    border: none;
                }
            }
        }
    }
}